extends base

block content
    if error 
       span=error 
    form(method="POST")

        label(for="username") Username
            input(name="username", id="username" required, type="text")

        label(for="password") Password
            input(name="password", id="password" required , type="password")         

        input(type="submit", value="Login")
        a(href="/users/github/start") Continue with Github
    hr
    div 
        span Don't have an account? 
        a(href="/join") Create now